* {
	margin: 0;
	padding: 0;
	font-family: arial black;
}

body {
	background-color: black;
}

.main-header {
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../Website/20.jpg);
	height: 60vh;
	background-size: cover;
	background-position: center;
}

.logo img{
	float: left;
	width: 50vh;
	height: auto;
}

.menu {
	max-width: 500vh;
	margin: auto;
}

.title {
	position: absolute;
	top: 30%;
	left: 30%;
	transform: translate(-50%,-50%);
}

.title h1 {
	color: white;
	font-size: 15vh;
	font-family: century gothic;
}

.button {
	position: absolute;
	top: 45%;
	left: 21.5%;
	transform: translate(-50%,-50%);
	font-size: 4vh;
}

.btn {
	border: 0.5vh solid white;
	padding: 2vh 6vh;
	color: white;
	text-decoration: none;
	transition: 0.6s ease;
}

.btn:hover {
	background: white;
	color: black;
}





.showcase {
	padding: 5vh 0 0 2.5vh;
	background: black;
}

.grid {
	display: grid;
	height: 95vh;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
}

.pic1 {
	height: 45vh;
	border: 0.3vh white solid;
	width: 50vh;
	background-image: url(../Website/41.jpg);
	background-size: cover;
	background-position: center;
}

.pic2 {
	height: 45vh;
	border: 0.3vh white solid;
	width: 50vh;
	background-image: url(../Website/40.jpg);
	background-size: cover;
	background-position: center;
}

.pic3 {
	height: 45vh;
	border: 0.3vh white solid;
	width: 50vh;
	background-image: url(../Website/42.jpg);
	background-size: cover;
	background-position: center;
}

.pic4 {
	height: 45vh;
	border: 0.3vh white solid;
	width: 50vh;
	background-image: url(../Website/48.jpg);
	background-size: cover;
	background-position: top;
}

.text1 {
	padding: 3vh 0 0 0.5vh;
	height: 35vh;
	width: 50vh;
	color: white;
	font-size: 3vh;
	text-align: justify;
}

.text1 h4 {
	color: white;
	text-align: left;
	font-family: 'Satisfy', cursive;
	font-size: 5vh;
}

.text1 p {
	font-family: kaiTi;
	color: white;
	padding: 3vh 0 0 0;
}

.text2 {
	padding: 3vh 0 0 0.5vh;
	height: 35vh;
	width: 50vh;
	color: white;
	font-size: 3vh;
	text-align: justify;
}

.text2 h4 {
	color: white;
	text-align: left;
	font-family: 'Satisfy', cursive;
	font-size: 5vh;
}

.text2 p {
	font-family: kaiTi;
	color: white;
	padding: 3vh 0 0 0;
}

.text3 {
	padding: 3vh 0 0 0.5vh;
	height: 35vh;
	width: 50vh;
	color: white;
	font-size: 3vh;
	text-align: justify;
}

.text3 p {
	font-family: kaiTi;
	color: white;
	padding: 3vh 0 0 0;
}

.text3 h4 {
	color: white;
	text-align: left;
	font-family: 'Satisfy', cursive;
	font-size: 5vh;
}

.text4 {
	padding: 3vh 0 0 0.5vh;
	height: 35vh;
	width: 50vh;
	color: white;
	font-size: 3vh;
	text-align: justify;
}

.text4 p {
	font-family: kaiTi;
	color: white;
	padding: 3vh 0 0 0;
}

.text4 h4 {
	color: white;
	text-align: left;
	font-family: 'Satisfy', cursive;
	font-size: 5vh;
}





.grid2 {
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
}

.pic5 {
	height: 45vh;
	border: 0.3vh white solid;
	width: 50vh;
	background-image: url(../Website/39.jpg);
	background-size: cover;
	background-position: center;
}

.pic6 {
	height: 45vh;
	border: 0.3vh white solid;
	width: 50vh;
	background-image: url(../Website/45.jpg);
	background-size: cover;
	background-position: center;
}

.pic7 {
	height: 45vh;
	border: 0.3vh white solid;
	width: 50vh;
	background-image: url(../Website/43.jpg);
	background-size: cover;
	background-position: center;
}

.pic8 {
	height: 45vh;
	border: 0.3vh white solid;
	width: 50vh;
	background-image: url(../Website/49.jpg);
	background-size: cover;
	background-position: top;
}

.text5 {
	padding: 3vh 0 0 0.5vh;
	height: 35vh;
	width: 50vh;
	color: white;
	font-size: 3vh;
	text-align: justify;
}

.text5 h4 {
	color: white;
	text-align: left;
	font-family: 'Satisfy', cursive;
	font-size: 5vh;
}

.text5 p {
	font-family: kaiTi;
	color: white;
	padding: 3vh 0 0 0;
}

.text6 {
	padding: 3vh 0 0 0.5vh;
	height: 35vh;
	width: 50vh;
	color: white;
	font-size: 3vh;
	text-align: justify;
}

.text6 h4 {
	color: white;
	text-align: left;
	font-family: 'Satisfy', cursive;
	font-size: 5vh;
}

.text6 p {
	font-family: kaiTi;
	color: white;
	padding: 3vh 0 0 0;
}

.text7 {
	padding: 3vh 0 0 0.5vh;
	height: 35vh;
	width: 50vh;
	color: white;
	font-size: 3vh;
	text-align: justify;
}

.text7 p {
	font-family: kaiTi;
	color: white;
	padding: 3vh 0 0 0;
}

.text7 h4 {
	color: white;
	text-align: left;
	font-family: 'Satisfy', cursive;
	font-size: 5vh;
}

.text8 {
	padding: 3vh 0 0 0.5vh;
	height: 35vh;
	width: 50vh;
	color: white;
	font-size: 3vh;
	text-align: justify;
}

.text8 p {
	font-family: kaiTi;
	color: white;
	padding: 3vh 0 0 0;
}

.text8 h4 {
	color: white;
	text-align: left;
	font-family: 'Satisfy', cursive;
	font-size: 5vh;
}





.grid3 {
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
}

.pic9 {
	height: 45vh;
	border: 0.3vh white solid;
	width: 50vh;
	background-image: url(../Website/46.jpg);
	background-size: cover;
	background-position: center;
}

.pic10 {
	height: 45vh;
	border: 0.3vh white solid;
	width: 50vh;
	background-image: url(../Website/47.jpg);
	background-size: cover;
	background-position: center;
}

.pic11 {
	height: 45vh;
	border: 0.3vh white solid;
	width: 50vh;
	background-image: url(../Website/44.jpg);
	background-size: cover;
	background-position: center;
}

.pic12 {
	height: 45vh;
	border: 0.3vh white solid;
	width: 50vh;
	background-image: url(../Website/50.jpg);
	background-size: cover;
	background-position: top;
}

.text9 {
	padding: 3vh 0 0 0.5vh;
	height: 35vh;
	width: 50vh;
	color: white;
	font-size: 3vh;
	text-align: justify;
}

.text9 h4 {
	color: white;
	text-align: left;
	font-family: 'Satisfy', cursive;
	font-size: 5vh;
}

.text9 p {
	font-family: kaiTi;
	color: white;
	padding: 3vh 0 0 0;
}

.text10 {
	padding: 3vh 0 0 0.5vh;
	height: 35vh;
	width: 50vh;
	color: white;
	font-size: 3vh;
	text-align: justify;
}

.text10 h4 {
	color: white;
	text-align: left;
	font-family: 'Satisfy', cursive;
	font-size: 5vh;
}

.text10 p {
	font-family: kaiTi;
	color: white;
	padding: 3vh 0 0 0;
}

.text11 {
	padding: 3vh 0 0 0.5vh;
	height: 35vh;
	width: 50vh;
	color: white;
	font-size: 3vh;
	text-align: justify;
}

.text11 p {
	font-family: kaiTi;
	color: white;
	padding: 3vh 0 0 0;
}

.text11 h4 {
	color: white;
	text-align: left;
	font-family: 'Satisfy', cursive;
	font-size: 5vh;
}

.text12 {
	padding: 3vh 0 0 0.5vh;
	height: 35vh;
	width: 50vh;
	color: white;
	font-size: 3vh;
	text-align: justify;
}

.text12 p {
	font-family: kaiTi;
	color: white;
	padding: 3vh 0 0 0;
}

.text12 h4 {
	color: white;
	text-align: left;
	font-family: 'Satisfy', cursive;
	font-size: 5vh;
}





.footer {
	background: black;
	height: 11vh;
	padding: 2vh 0 2vh 3.5vh;
}

.word h5 {
	color: white;
	text-align: left;
	padding: 1vh;
	font-family: kaiTi;
	font-size: 3vh;
}