* {
	margin: 0;
	padding: 0;
	font-family: arial black;
}

body {
	background-color: black;
}

.main-header {
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../Website/16.jpg);
	height: 60vh;
	background-size: cover;
	background-position: center;
}

.logo img{
	float: left;
	width: 50vh;
	height: auto;
}

.menu {
	max-width: 500vh;
	margin: auto;
}

.title {
	position: absolute;
	top: 35%;
	left: 30%;
	transform: translate(-50%,-50%);
}

.title h1 {
	color: white;
	font-size: 15vh;
	font-family: century gothic;
}

.button {
	position: absolute;
	top: 50%;
	left: 20%;
	transform: translate(-50%,-50%);
	font-size: 4vh;
}

.btn {
	border: 0.5vh solid white;
	padding: 2vh 6vh;
	color: white;
	text-decoration: none;
	transition: 0.6s ease;
}

.btn:hover {
	background: white;
	color: black;
}





.showcase {
	padding: 10vh 10vh 0 15vh;
	height: 425vh;
}

.grid1 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 40vh;
	background-color: black;
	padding-bottom: 13vh;
}

.pic {
	height: 45vh;
	width: 90vh;
	background-image: url(../Website/0capuccino.jpg);
	background-size: cover;
	background-position: center;
	border: 0.5vh white solid;
}

.CAPUCCINO h1 {
	text-align: center;
	color: white;
	font-family: 'Satisfy', cursive;
	padding: 5vh 10vh 0 0;
	font-size: 7.5vh;
}

.CAPUCCINO p {
	text-align: justify;
	color: white;
	font-family: kaiTi;
	padding: 5vh 10vh 0 0;
	font-size: 3.5vh;
}





.grid2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 40vh;
	background-color: black;
	padding-bottom: 13vh;
}

.pic2 {
	height: 45vh;
	width: 90vh;
	background-image: url(../Website/0lattemacchiato.jpg);
	background-size: cover;
	background-position: center;
	border: 0.5vh white solid;
}

.LATTEMACCHIATO h1 {
	text-align: center;
	color: white;
	font-family: 'Satisfy', cursive;
	padding: 5vh 10vh 0 0;
	font-size: 7.5vh;
}

.LATTEMACCHIATO p {
	text-align: justify;
	color: white;
	font-family: kaiTi;
	padding: 5vh 10vh 0 0;
	font-size: 3.5vh;
}





.grid3 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 40vh;
	background-color: black;
	padding-bottom: 13vh;
}

.pic3 {
	height: 45vh;
	width: 90vh;
	background-image: url(../Website/0flatwhite.jpg);
	background-size: cover;
	background-position: center;
	border: 0.5vh white solid;
}

.FLATWHITE h1 {
	text-align: center;
	color: white;
	font-family: 'Satisfy', cursive;
	padding: 5vh 10vh 0 0;
	font-size: 7.5vh;
}

.FLATWHITE p {
	text-align: justify;
	color: white;
	font-family: kaiTi;
	padding: 5vh 10vh 0 0;
	font-size: 3.5vh;
}





.grid4 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 40vh;
	background-color: black;
	padding-bottom: 13vh;
}

.pic4 {
	height: 45vh;
	width: 90vh;
	background-image: url(../Website/0caffelatte.jpg);
	background-size: cover;
	background-position: center;
	border: 0.5vh white solid;
}

.CAFFELATTE h1 {
	text-align: center;
	color: white;
	font-family: 'Satisfy', cursive;
	padding: 5vh 10vh 0 0;
	font-size: 7.5vh;
}

.CAFFELATTE p {
	text-align: justify;
	color: white;
	font-family: kaiTi;
	padding: 5vh 10vh 0 0;
	font-size: 3.5vh;
}





.grid5 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 40vh;
	background-color: black;
	padding-bottom: 13vh;
}

.pic5 {
	height: 45vh;
	width: 90vh;
	background-image: url(../Website/0cafeamericano.jpg);
	background-size: cover;
	background-position: center;
	border: 0.5vh white solid;
}

.CAFEAMERICANO h1 {
	text-align: center;
	color: white;
	font-family: 'Satisfy', cursive;
	padding: 5vh 10vh 0 0;
	font-size: 7.5vh;
}

.CAFEAMERICANO p {
	text-align: justify;
	color: white;
	font-family: kaiTi;
	padding: 5vh 10vh 0 0;
	font-size: 3.5vh;
}





.grid6 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 40vh;
	background-color: black;
	padding-bottom: 13vh;
}

.pic6 {
	height: 45vh;
	width: 90vh;
	background-image: url(../Website/0espressomacchiato.jpg);
	background-size: cover;
	background-position: center;
	border: 0.5vh white solid;
}

.ESPRESSOMACCHIATO h1 {
	text-align: center;
	color: white;
	font-family: 'Satisfy', cursive;
	padding: 5vh 10vh 0 0;
	font-size: 7.5vh;
}

.ESPRESSOMACCHIATO p {
	text-align: justify;
	color: white;
	font-family: kaiTi;
	padding: 5vh 10vh 0 0;
	font-size: 3.5vh;
}





.grid7 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 35vh;
	background-color: black;
	padding-bottom: 12vh;
}

.pic7 {
	height: 45vh;
	width: 90vh;
	background-image: url(../Website/0dorpio.jpg);
	background-size: cover;
	background-position: center;
	border: 0.5vh white solid;
}

.DORPIO h1 {
	text-align: center;
	color: white;
	font-family: 'Satisfy', cursive;
	padding: 5vh 10vh 0 0;
	font-size: 7.5vh;
}

.DORPIO p {
	text-align: justify;
	color: white;
	font-family: kaiTi;
	padding: 5vh 10vh 0 0;
	font-size: 3.5vh;
}





.grid8 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 40vh;
	background-color: black;
	padding-bottom: 13vh;
}

.pic8 {
	height: 45vh;
	width: 90vh;
	background-image: url(../Website/0cloudmacchiato.jpg);
	background-size: cover;
	background-position: center;
	border: 0.5vh white solid;
}

.CLOUDMACCHIATO h1 {
	text-align: center;
	color: white;
	font-family: 'Satisfy', cursive;
	padding: 5vh 10vh 0 0;
	font-size: 7.5vh;
}

.CLOUDMACCHIATO p {
	text-align: justify;
	color: white;
	font-family: kaiTi;
	padding: 5vh 10vh 0 0;
	font-size: 3.5vh;
}





.footer {
	background: black;
	height: 11vh;
	padding: 2vh 0 2vh 14.5vh;
}

.word h5 {
	color: white;
	text-align: left;
	padding: 1vh;
	font-family: kaiTi;
	font-size: 3vh;
}